stackapp_affiliate_update:
  class: sfDoctrineRouteCollection
  options:
    model:                StackappAffiliate
    module:               update
    prefix_path:          update
    column:               id
    with_wildcard_routes: true

stackapp_category_category:
  class: sfDoctrineRouteCollection
  options:
    model:                StackappCategory
    module:               category
    prefix_path:          category
    column:               id
    with_wildcard_routes: true

stackapp_job_job:
  class: sfDoctrineRouteCollection
  options:
    model:                StackappJob
    module:               job
    prefix_path:          job
    column:               id
    with_wildcard_routes: true

# default rules
homepage:
  url:   /
  param: { module: job, action: index }

default_index:
  url:   /:module
  param: { action: index }

default:
  url:   /:module/:action/*
